* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.top {
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.top .topmedia {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.topmedia {
    margin-left: auto;
}

.top .topwords {
    width: 50%;
}

.horizontalList {
    display: flex;
    gap: 20px;
    list-style-type: "|";
}

.horizontalList li {
    padding-left: 20px;
}